body{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans",sans-serif;
    overflow-x: hidden;
    height: 100%;
}

.topcontainer{
    width: 100vw;
    height: 3.5vw;
    overflow: hidden;
    position: sticky;
    z-index: 10000;
    top: 5%;
}

#logo{
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    margin-left: 8vw;
    align-items: center;
}

.buttonlist{
    display: flex;
    width: 75vw;
    left: 25vw;
    top: 0.5vh;
    height: 80%;
    position: absolute;
    flex-direction: row;
}

.buttonlist button{
    text-decoration: none;
    border: none;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    font-size: 110%;
    display: flex;
    background: none;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 10px;
    width: auto;
    transition: 0.5s;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
}

.buttonlist a{
    text-decoration: none;
    border: none;
    transition: 0.3s;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    font-size: 115%;
    display: flex;
    background: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 10px;
    color: #000;
    width: auto;
    transition: 0.5s;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
}

.buttonlist button:hover{
    font-size: 120%;
    opacity: 0.5;
}

.buttonlist a:hover{
    font-size: 120%;
    opacity: 0.5;
}

#mmuntitle{
    position: absolute;
    display: flex;
    z-index: 100;
    top: 6px;
    justify-content: left;
    height: 40px;
    margin: 0;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    left: 12vw;
}

.publicimg{
    width: 100vw;
    height: 32.5vw;
    margin-top: 0;
    position: absolute;
    background-image: url("imgwebsite/background1.png");
    background-size: cover;
    background-repeat: no-repeat; 
    justify-content: center;
    display: flex;
}

.publicimg h1{
    color: #fff;
    font-size: 100px;
    width: 58vw;
    border-bottom: 15px solid yellow;
    position: absolute;
    left: 21vw;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 18%;
}

#toptext{
    font-size: 140%;
    margin-top: 10vh;
    color: #fff;
}

#bottomtext{
    font-size: 130%;
    margin-top: 45vh;
    width: 30vw;
    justify-content: center;
    display: flex;
    left: 35vw;
    position: absolute;
    color: #fff;
}

.bottombar{
    height: 15vh;
    background-color: #dcdcdc;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 105vw;
}

.bottombar h3{
    position: absolute;
    text-align: center;
    left: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 170%;
    margin: 0px;
    justify-content: center;
}

#ltitle{
    font-family: Arial, Helvetica, sans-serif;
    height: 10vw;
    margin-left: 12.5vw;
    display: none;
    justify-content: center;
    width: 60vw;
    font-weight: bold;
    font-size: 250%;
}

#atitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vw;
    margin-left: 12.5vw;
    display: flex;
    width: 40vw;
    margin-top: 30px;
    justify-content: center;
    font-size: 250%;
    font-weight: bolder;
}

.contentpage{
    height: auto;
    width: 100vw;
    position: absolute;
    top: 36vw;
    display: flex;
    align-items: flex-start;
}

#aboutcontent{
    display: none;
}

#home{
    background-color: black;
    color: #fff;
}

#dudeimg{
    display: flex;
    width: 34vw;
    margin-top: 30px;
    height: 20vw;
}

#lettertext{
    display: block;
    position: absolute;
    width: 75%;
    margin: 0;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 12.5vw;
    margin-top: 26vw;
    justify-content: left;
    font-size: 19px;
}

#contactmail{
    display: flex;
    margin-top: 64vw;
    width: 25vw;
    position: absolute;
    height: 10vw;
    font-size: 100%;
    opacity: 0.9;
    left: 20vw;
    text-align: center;
}

#mlogo{
    display: flex;
    margin-top: 63vw;
    width: 15vw;
    position: absolute;
    height: 4.5vw;
    font-size: 100%;
    opacity: 0.9;
    left: 68vw;
    text-align: center;  
}

#gmap{
    display: flex;
    position: absolute;
    width: 70vw;
    height: 30vw;
    left: 15vw;
    top: 72vw;
}

#burgericon{
    display: none;
    position: absolute;
    z-index: 15;
    width: 3vh;
    height: 3vh;
    top: 1.5%;
    right: 10vw;
}

.burgerframe{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
    height: 35vh;
    justify-content: center;
    transition: 0.2s;
    right: 100%;
    align-items: center;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    display: none;
}

.burgerframe button{
    display: flex;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    justify-content: left;
    margin: 10px 5px;
    font-size: 150%;
    font-weight: 300px;
    background: none;
    border: none;
}

.coml{
    position: absolute;
    flex-direction: column;
    width: 60vw;
    left: 20vw;
    height: 50vw;
    align-items: flex-start;
    display: none;
    height: 50vw;
    top: 12vw;
}

.listc{
    width: 60vw;
    margin: 4px auto;
    height: 5vw;
    background-color: #dcdcdc;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
}

.listc a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
}

#ctitle{
    width: 50vw;
    left: 25vw;
    position: absolute;
    top: 5vw;
    height: 3vw;
    display: none;
    justify-content: center;
    text-align: center;
}

#cdesc{
    width: 50vw;
    left: 25vw;
    position: absolute;
    top: 8vw;
    opacity: 0.5;
    display: none;
    justify-content: center;
    text-align: center;
}

.contactinfo{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 18vw;
    position: absolute;
    left: 41vw;
    top: 5vw;
}

.kidname{
    width: 18vw;
    height: 23vw;
    overflow: hidden;
    margin-top: 10px;
}

.kidname img{
    width: 100%;
    height: 80%;
    border-radius: 6px;
}

.kidname h3{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0;
    margin-top: 5px;
}

#insta{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2px;
}

#phonenumber{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2px;
}

@media (max-width: 768px){
    *{
        overflow-x: hidden;
    }
    .topcontainer{
        width: 100vw;
        height: 5vh;
    }
    #logo{
        margin-left: 10vw;
    }

    #atitle{
        width: 80vw;
        position: absolute;
        height: 20vw;
        top: 115vw;
        left: 10%;
        text-align: center;
        justify-content: center;
    }

    .burgerframe{
        margin: 0;
        width: 75vw;
        left: 0%;
        height: 90vh;
        background-color: yellow;
        z-index: 100;
        justify-content: center;
    }

    #burgericon{
        display: flex;
    }

    .contactinfo{
        display: none;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        position: absolute;
        left: 25vw;
        top: 5vw;
    }

    .kidname{
        width: 100%;
        height: 75vw;
        overflow-x: hidden;
        margin-top: 30px;
    }

    .kidname img{
        height: 70%;
    }

    .kidname h3{
        width: 100%;
        text-align: center;
        height: 10%;
        justify-content: center;
        display: flex;
        margin: 0;
        margin-top: 1px;
        font-size: 100%;
        padding: 0;
    }
    
    #insta{
        width: 100%;
        display: flex;
        height: 7%;
        font-size: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    #phonenumber{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .coml{
        position: absolute;
        flex-direction: column;
        width: 75vw;
        left: 10vw;
        height: 200vw;
        align-items: flex-start;
        display: none;
        top: 38vw;
    }

    .listc{
        width: 80vw;
        margin: 10px auto;
        height: 15vw;
        background-color: #dcdcdc;
        display: flex;
        border-radius: 6px;
        cursor: pointer;
        justify-content: center;
    }

    #ctitle{
        width: 80vw;
        position: absolute;
        left: 10vw;
        top: 10vw;
        height: 8vw;
        display: none;
        justify-content: center;
        z-index: 100;
        text-align: center;
    }
    
    #cdesc{
        width: 85vw;
        left: 7.5vw;
        position: absolute;
        top: 13vh;
        font-size: 100%;
        opacity: 0.5;
        display: none;
        justify-content: center;
        text-align: center;
    }
    #toptext{
        width: 80vw;
        left: 10vw;
        position: absolute;
        justify-content: center;
        font-size: 100%;
    }

    .publicimg h1{
        width: 80vw;
        left: 10%;
        font-size: 280%;
        height: 50%;
        justify-content: center;
        top: 30%;
        position: absolute;
    }

    #ltitle{
        width: 80vw;
        position: absolute;
        height: 20vw;
        top: 230vw;
        left: 10%;
        text-align: center;
        justify-content: center;
    }
    #bottomtext{
        width: 80vw;
        height: 30vw;
        font-size: 100%;
        left: 10%;
        top: 75vw;
        text-align: center;
        justify-content: center;
    }

    .contentinfohome h3{
        top: 8%;
        font-size: 120%;
    }
}