body{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans",sans-serif;
    overflow-x: hidden;
}

.topcontainer{
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 5px;
}

#logo{
    height: 90%;
    display: flex;
    cursor: pointer;
    margin-left: 25vw;
}

.buttonlist{
    display: flex;
    width: 80vw;
    position: absolute;
    left: 35vw;
    top: 12px;
    overflow-y: hidden;
    flex-direction: row;
}

.buttonlist button{
    text-decoration: none;
    border: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 115%;
    display: flex;
    background: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 10px;
    width: 110px;
    transition: 0.5s;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
}

.buttonlist button:hover{
    text-decoration: underline;
    font-size: 130%;
}

.publicimg{
    width: 100vw;
    height: 30vw;
    position: absolute;
    margin-top: 1vh;
    background-image: url("imgwebsite/backgroundhtml3.png");
    background-size: cover;
    background-repeat: no-repeat;   
    justify-content: center;
    display: flex;
    box-shadow: 1px 2px 4px #000;
}

.publicimg h1{
    color: #fff;
    font-size: 80px;
    width: 50vw;
    position: absolute;
    left: 25%;
    text-align: center;
    justify-content: center;
    top: 18%;
}

.publicimg h2{
    color: #fff;
    display: flex;
}

#toptext{
    position: absolute;
    top: 10%;
    display: flex;
    font-size: 170%;
}

#bottomtext{
    position: absolute;
    display: flex;
    top: 55%;
    font-size: 180%;
}

.bottombar{
    height: 15vh;
    background-color: #dcdcdc;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 105vw;
}

.bottombar h3{
    position: absolute;
    text-align: center;
    left: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 170%;
    margin: 0px;
    justify-content: center;
}

#atitle{
    width: 75vw;
    position: absolute;
    left: 12.5vw;
    top: 35vw;
    position: absolute;
    height: 5vh;
    font-size: 150%;
    display: flex;
}

#ltitle{
    width: 40vw;
    position: absolute;
    left: 31vw;
    top: 50vw;
    height: 5vh;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    display: flex;
    align-items: center;
}

.bottombar img{
    position: absolute;
    left: 60%;
    width: 18vw;
    display: flex;
    height: 75%;
}

.contentinfohome{
    width: 75vw;
    display: flex;
    position: absolute;
    top: 38vw;
    left: 12.5%;
    height: 10vw;
    display: flex;
    margin-bottom: 15vh;
}

.contentinfohome h2{
    width: 100%;
    text-align: center;
    display: flex;
    font-size: 150%;
    height: 20%;
}

.contentinfohome h3{
    position: absolute;
    font-weight: 5px;
    top: 20%;
    font-size: 130%;
    display: flex;
}

.lettercontent{
    width: 85vw;
    height: 50vw;
    top: 55vw;
    left: 7.5%;
    background: none;
    display: flex;
    position: absolute;
}

.lettercontent p{
    width: 100%;
    display: flex;
    height: 60%;
    top: 24vw;
    position: absolute;
    color: #000;
}

.lettercontent img{
    width: 35vw;
    height: 22vw;
    position: absolute;
    left: 31%;
    top: 0% ;
}

#burgericon{
    display: none;
    position: absolute;
    z-index: 15;
    width: 3vh;
    height: 3vh;
    top: 1.5%;
    right: 10vw;
}

.burgerframe{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
    height: 35vh;
    justify-content: center;
    transition: 0.2s;
    align-items: center;
    z-index: 10;
    position: absolute;
    flex-direction: column;
    display: none;
}

.burgerframe button{
    display: flex;
    text-decoration: none;
    text-align: left;
    justify-content: left;
    margin: 10px 5px;
    font-size: 150%;
    font-weight: 300px;
    background: none;
    border: none;
}

.coml{
    position: absolute;
    flex-direction: column;
    width: 60vw;
    left: 20vw;
    height: 50vw;
    align-items: flex-start;
    display: none;
    height: 50vw;
    top: 12vw;
}

.listc{
    width: 60vw;
    margin: 4px auto;
    height: 5vw;
    background-color: #dcdcdc;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
}

.listc a{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
}

#ctitle{
    width: 50vw;
    left: 25vw;
    position: absolute;
    top: 5vw;
    height: 3vw;
    display: none;
    justify-content: center;
    text-align: center;
}

#cdesc{
    width: 50vw;
    left: 25vw;
    position: absolute;
    top: 8vw;
    opacity: 0.5;
    display: none;
    justify-content: center;
    text-align: center;
}

.contactinfo{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 18vw;
    position: absolute;
    left: 41vw;
    top: 5vw;
}

.kidname{
    width: 18vw;
    height: 23vw;
    overflow: hidden;
    margin-top: 10px;
}

.kidname img{
    width: 100%;
    height: 80%;
    border-radius: 6px;
}

.kidname h3{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0;
    margin-top: 5px;
}

#insta{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2px;
}

#phonenumber{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 2px;
}

@media (max-width: 768px){
    *{
        overflow-x: hidden;
    }
    .topcontainer{
        width: 100vw;
        height: 5vh;
    }
    #logo{
        margin-left: 10vw;
    }

    #atitle{
        width: 80vw;
        position: absolute;
        height: 20vw;
        top: 115vw;
        left: 10%;
        text-align: center;
        justify-content: center;
    }

    .burgerframe{
        margin: 0;
        z-index: 1000;
        justify-content: center;
    }

    .buttonlist{
        display: none;
    }

    #burgericon{
        display: flex;
    }

    .contactinfo{
        display: none;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        position: absolute;
        left: 25vw;
        top: 5vw;
    }

    .kidname{
        width: 100%;
        height: 75vw;
        overflow-x: hidden;
        margin-top: 30px;
    }

    .kidname img{
        height: 70%;
    }

    .kidname h3{
        width: 100%;
        text-align: center;
        height: 10%;
        justify-content: center;
        display: flex;
        margin: 0;
        margin-top: 1px;
        font-size: 100%;
        padding: 0;
    }
    
    #insta{
        width: 100%;
        display: flex;
        height: 7%;
        font-size: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    #phonenumber{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .coml{
        position: absolute;
        flex-direction: column;
        width: 80vw;
        left: 10vw;
        height: 200vw;
        align-items: flex-start;
        display: none;
        top: 38vw;
    }

    .listc{
        width: 80vw;
        margin: 10px auto;
        height: 15vw;
        background-color: #dcdcdc;
        display: flex;
        border-radius: 6px;
        cursor: pointer;
        justify-content: center;
    }

    #ctitle{
        width: 80vw;
        position: absolute;
        left: 10vw;
        top: 10vw;
        height: 8vw;
        display: none;
        justify-content: center;
        z-index: 100;
        text-align: center;
    }
    
    #cdesc{
        width: 85vw;
        left: 7.5vw;
        position: absolute;
        top: 13vh;
        font-size: 100%;
        opacity: 0.5;
        display: none;
        justify-content: center;
        text-align: center;
    }

    .bottombar{
        top: 210vh;
        position: absolute;
    }

    .publicimg{
        width: 100vw;
        height: 100vw;
    }
    .publicimg h1{
        width: 80vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 80vw;
        left: 10%;
    }
    #toptext{
        width: 80vw;
        left: 10%;
        top: 15vw;
        font-size: 150%;
        text-align: center;
        justify-content: center;
        position: absolute;
    }

    #dudeimg{
        display: flex;
    }

    .lettercontent h3{
        width: 100%;
    }

    .bottombar{
        width: 100vw;
        align-items: center;
    }

    .bottombar h3{
        left: 5%;
        width: 40%;
        font-size: 100%;
        text-align: left;
        overflow-x: scroll;
        justify-content: left;
    }

    .bottombar img{
        width: 40vw;
        left: 58%;
        height: 12vw;
    }

    .contentinfohome{
        top: 125vw;
        height: 110vw;
        width: 85vw;
        left: 7.5%;
    }

    .contentinfohome p{
        width: 100%;
        height: 100%;
    }

    .lettercontent{
        width: 85vw;
        left: 7.5vw;
        height: 160vw;
        top: 235vw;
    }

    .lettercontent img{
        width: 100%;
        left: 0;
        height: 52.25vw;
        border-radius: 6px;
    }

    .lettercontent p{
        width: 100%;
        position: absolute;
        height: 45.75%;
        font-size: 100%;
        top: 62.25vw;
        bottom: 0%;
        margin: 0;
    }

    #toptext{
        width: 80vw;
        left: 10vw;
        position: absolute;
        justify-content: center;
        font-size: 100%;
    }

    .publicimg h1{
        width: 80vw;
        left: 10%;
        font-size: 280%;
        height: 50%;
        justify-content: center;
        top: 30%;
        position: absolute;
    }

    #ltitle{
        width: 80vw;
        position: absolute;
        height: 20vw;
        top: 230vw;
        left: 10%;
        text-align: center;
        justify-content: center;
    }
    #bottomtext{
        width: 80vw;
        height: 30vw;
        font-size: 100%;
        left: 10%;
        top: 75vw;
        text-align: center;
        justify-content: center;
    }

    .contentinfohome h3{
        top: 8%;
        font-size: 120%;
    }
}