body{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans",sans-serif;
    overflow-x: hidden;
}

.topcontainer{
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 5px;
}

#logo{
    height: 90%;
    display: flex;
    margin-left: 25vw;
}

.buttonlist{
    display: flex;
    width: 80vw;
    position: absolute;
    left: 32.5vw;
    top: 12px;
    overflow-y: hidden;
    flex-direction: row;
}

.buttonlist button{
    text-decoration: none;
    border: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 115%;
    display: flex;
    background: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 10px;
    width: 110px;
    transition: 0.5s;
    text-decoration-thickness: 2px;
    text-decoration-color: #000;
}

.buttonlist button:hover{
    text-decoration: underline;
    font-size: 130%;
}

.publicimg{
    width: 100vw;
    height: 70vh;
    position: absolute;
    margin-top: 1vh;
    background-image: url("imgwebsite/backgroundhtml3.png");
    background-size: cover;
    background-repeat: no-repeat;   
    justify-content: center;
    display: flex;
    box-shadow: 1px 2px 4px #000;
}

.publicimg h1{
    color: #fff;
    font-size: 80px;
    width: 50vw;
    position: absolute;
    left: 25%;
    text-align: center;
    justify-content: center;
    top: 18%;
}

.publicimg h2{
    color: #fff;
    display: flex;
}

#toptext{
    position: absolute;
    top: 10%;
    display: flex;
    font-size: 170%;
}

#bottomtext{
    position: absolute;
    display: flex;
    top: 55%;
    font-size: 180%;
}

.bottombar{
    height: 15vh;
    background-color: #dcdcdc;
    width: 100vw;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 210%;
}

.bottombar h3{
    position: absolute;
    text-align: center;
    left: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    font-size: 170%;
    margin: 0px;
    justify-content: center;
}

.bottombar img{
    position: absolute;
    left: 65%;
    width: 170px;
    height: 90%;
}

.contentinfohome{
    width: 70vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    backdrop-filter: blur(6px);
    top: 82%;
    left: 15%;
    height: 25vh;
    display: flex;
    margin-bottom: 15vh;
}

.contentinfohome h2{
    width: 100%;
    text-align: center;
    display: flex;
    font-size: 150%;
    height: 20%;
}

.contentinfohome h3{
    position: absolute;
    font-weight: 5px;
    top: 20%;
    font-size: 130%;
    display: flex;
}

.lettercontent{
    width: 80vw;
    height: 100vh;
    top: 125vh;
    overflow-y: scroll;
    left: 10%;
    background: none;
    display: flex;
    position: absolute;
}

.lettercontent h3{
    width: 90%;
    display: flex;
    margin-top: 40%;
    color: #000;
    margin-left: 5%;
}

.lettercontent img{
    width: 55%;
    height: 52%;
    position: absolute;
    left: 22.5%;
    top: 5%;
}

#lettertitle{
    position: absolute;
    width: 40vw;
    left: 30vw;
    display: flex;
    top: 115%;
    font-size: 160%;
    justify-content: center;
    height: 20%;
    text-align: center;
}

.cttecontent{
    display: block;
    width: 40vw;
    height: 115%;
    margin: 0px;
    margin-left: 30vw;
    margin-top: 2%;
    padding: 0px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.cttecontent img{
    height: 100%;
    margin-top: 0px;
    position: absolute;
    width: 100%;
    display: flex;
}

.burgerframe{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9);
    height: 35vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.burgerframe button{
    display: flex;
    text-decoration: none;
    text-align: left;
    justify-content: left;
    margin: 10px 5px;
    font-weight: 300px;
    background: none;
    border: none;
}

@media (max-width: 768px){
    *{
        overflow-x: hidden;
    }

    .cttecontent{
        width: 90vw;
        height: 73.5vh;
        margin-left: 5vw;
    }
    .topcontainer{
        width: 100vw;
        height: 5vh;
    }
    #logo{
        margin-left: 10px;
    }

    .buttonlist{
        left: 80px;
        overflow-x: scroll !important;
        width: 80vw;
        text-decoration: none;
        top: 5px;
    }

    .buttonlist button{
        width: 25vw;
        font-size: 85%;
        align-items: center;
        text-align: left;
        justify-content: left;
    }

    .bottombar{
        top: 210vh;
        position: absolute;
    }

    .publicimg{
        width: 100vw;
        height: 40vh;
    }
    .publicimg h1{
        width: 80vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 50%;
        left: 10%;
    }
    #toptext{
        width: 80%;
        left: 10%;
        text-align: center;
        justify-content: center;
        position: absolute;
    }

    #dudeimg{
        display: flex;
    }

    .lettercontent{
        width: 90vw;
        left: 5%;
        top: 105vh;
    }
    .lettercontent h3{
        width: 100%;
    }

    .bottombar{
        width: 100vw;
    }

    .bottombar h3{
        left: 5%;
        width: 40%;
        font-size: 100%;
        text-align: left;
        overflow-x: scroll;
        justify-content: left;
    }

    .bottombar img{
        width: 40%;
        left: 58%;
        height: 80%;
        top: 10%;
    }

    .contentinfohome{
        top: 48vh;
        height: 50vh;
        width: 85vw;
        left: 7.5%;
    }

    #toptext{
        width: 80vw;
        left: 10vw;
        position: absolute;
        justify-content: center;
        font-size: 100%;
    }

    .publicimg h1{
        width: 80vw;
        left: 10%;
        font-size: 280%;
        height: 50%;
        justify-content: center;
        top: 30%;
        position: absolute;
    }

    #bottomtext{
        display: none;
    }

    .contentinfohome h3{
        top: 8%;
        font-size: 120%;
    }
}